
<!-- Toolbar -->
<div class="grid-container">
    <div class="content grid-child" role="main">

      <h3 class=" text-center">Match twitter users with plants based on personality!</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="msgs">
            <div id="messageBox" class="msg_history">
              <li class="message" *ngFor="let message of messages">

                <div *ngIf="!message.is_user; else userMsgBlock">
                  <div *ngIf="message.imageLink; else textMessageBlock">
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <img [src]="message.imageLink" width="15%"/>
                      </div>
                    </div>
                  </div>

                  <ng-template #textMessageBlock>
                    <div class="incoming_msg">
                      <div class="incoming_msg_img">
                        <img
                          src="https://i.imgur.com/k2PZLZa.png"
                          alt="User avatar"
                        />
                      </div>
                    </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p>{{ message.text }}</p>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <ng-template #userMsgBlock>
                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p style="word-break: break-all">{{ message.text }}</p>
                    </div>
                  </div>
                </ng-template>
              </li>
            </div>
            <div class="type_msg">
              <form class="input_msg_write" (ngSubmit)="getTwitterPlant()" autocomplete="off">
                <input
                  id="inputField"
                  type="text"
                  class="write_msg"
                  placeholder="Enter a Twitter handle to find a matching plant!"
                  name="newMessage"
                  maxlength="256"
                  [(ngModel)]="twitterHandle"
                />
                <button id="submitButton" class="msg_send_btn" type="submit">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <h3 class=" text-center">Match your own text with plants based on personality!</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="msgs">
            <div class="type_msg">
              <form class="input_msg_write" (ngSubmit)="getTextPlant()" autocomplete="off">
                <textarea
                        id="inputField2"
                        type="text"
                        class="write_msg"
                        placeholder="Enter at least 100 words to find a plant match!"
                        name="newMessage"
                        minlength="100"
                        [(ngModel)]="userText"
                ></textarea>
                <button id="submitButton2" class="msg_send_btn" type="submit">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="paddedDiv grid-child" align="center">
    <div>
      <table class="plantTable" align="center" cellpadding="5">
        <tr>
          <th class="plantCell" style="text-align:center">
            Plant Personality Match!
          </th>
          <th class="plantCell" style="text-align:center">
            Botanical Name
          </th>
          <th class="plantCell" style="text-align:center">
            Care Link
          </th>
        </tr>
        <tr *ngFor="let plant of plantResults">
          <td class="plantCell" align="center" valign="center">
            <img width="50%" height="50%" [src]="plant.imageLink"/>
          </td>
          <td class="plantCell" align="center" valign="center">
            <i>{{plant.botName}}</i>
          </td>
          <td class="plantCell" align="center" valign="center">
            <a [href]="plant.careLink">{{plant.plantName}}</a>
          </td>
        </tr>
      </table>
      <div>
        <button class="resetButton" (click)="resetConversation([])">Reset Conversation</button>
      </div>
    </div>
  </div>

  <div align="center">
    <h3><strong>User Personality</strong></h3>
    <table class="plantTable" cellpadding="5">
      <tr>
        <th class="plantCell" style="text-align:center">
          Openness
        </th>
        <th class="plantCell" style="text-align:center">
          Conscientiousness
        </th>
        <th class="plantCell" style="text-align:center">
          Extraversion
        </th>
        <th class="plantCell" style="text-align:center">
          Agreeableness
        </th>
        <th class="plantCell" style="text-align:center">
          Neuroticism
        </th>
      </tr>
      <tr *ngIf="userPersonality">
        <td class="plantCell" valign="center">
          {{ userPersonality.openness | percent:'1.1'}}
        </td>
        <td class="plantCell" valign="center">
          {{ userPersonality.conscientiousness | percent:'1.1' }}
        </td>
        <td class="plantCell" valign="center">
          {{ userPersonality.extraversion | percent:'1.1' }}
        </td>
        <td class="plantCell" valign="center">
          {{ userPersonality.agreeableness | percent:'1.1' }}
        </td>
        <td class="plantCell" valign="center">
          {{ userPersonality.neuroticism | percent:'1.1' }}
        </td>
      </tr>
    </table>
  </div>

  <div align="center">
    <h3><strong>Plant Personality</strong></h3>
    <table class="plantTable" cellpadding="5">
      <tr>
        <th class="plantCell" style="text-align:center">
          Openness
        </th>
        <th class="plantCell" style="text-align:center">
          Conscientiousness
        </th>
        <th class="plantCell" style="text-align:center">
          Extraversion
        </th>
        <th class="plantCell" style="text-align:center">
          Agreeableness
        </th>
        <th class="plantCell" style="text-align:center">
          Neuroticism
        </th>
      </tr>    
      <tr *ngIf="plantPersonality">
        <td class="plantCell" valign="center">
          {{ plantPersonality.openness | percent:'1.1'}}
        </td>
        <td class="plantCell" valign="center">
          {{ plantPersonality.conscientiousness | percent:'1.1' }}
        </td>
        <td class="plantCell" valign="center">
          {{ plantPersonality.extraversion | percent:'1.1' }}
        </td>
        <td class="plantCell" valign="center">
          {{ plantPersonality.agreeableness | percent:'1.1' }}
        </td>
        <td class="plantCell" valign="center">
          {{ plantPersonality.neuroticism | percent:'1.1' }}
        </td>
      </tr>
    </table>
  </div>

</div>